{% extends "base.html" %}
{% block app_content %}
    <h1 class="text-center">Servidores</h1>
{% if tamanho != 0 %}

    <table id="myTable" class="table table-striped border-spacing padding">
    <thead>
        <tr>
            <th class="text-center">Data Scan</th>
            <th class="text-center">Nome</th>
            <th class="text-center">Site</th>
            <th class="text-center">IPv4</th>
            <th class="text-center" style="width: 225px;">Opções</th>
            <th class="text-center" style="background-color:#ff0000">V</th>
            <th class="text-center" style="background-color:#ff9c20">L</th>
            <th class="text-center" style="background-color:#00c400">V</th>
            <th class="text-center" style="background-color:#d1ff00">A</th>
            <th class="text-center">Gráfico de Pendências</th>
        </tr>
    </thead>
{% for servidor in servidores %}
        <tr class="text-center">
            <td>{{ moment(servidor.timestamp).fromNow() }}</td>
            <td><a href="{{ url_for('dados', nome=servidor.nome) }}">{{ servidor.nome }}</a></td>
            <td>{{ servidor.url }}</td>
            <td>{{ servidor.ip }}</td>
            <td>
                <a class="btn btn-warning" href="{{ url_for('altera_servidor',
                server=servidor.nome, serverid=servidor.id) }}"><span class="glyphicon glyphicon-pencil"></span> Alterar</a>
                <a class="btn btn-danger" href="{{ url_for('deleta_servidor', server=servidor.nome, serverid=servidor.id) }}"><span class="glyphicon glyphicon-trash"></span> Excluir</a><br />
                <a onclick="clickLoad()" class="btn btn-success botaoMesmoTamanho" href="{{ url_for('dados',
                nome=servidor.nome) }}"><span style="width: 15%;" class="glyphicon glyphicon-eye-open"></span> Visualizar <span class="badge badge-light" style="width: 35px;">{{ lista[loop.index0] }}</span></a>
            </td>
            <td class="text-center"><font color="#ff0000">{{dici[servidor.nome]['vermelho']}}</font> | <font color= "#0000ff"><u>{{dici[servidor.nome]['tvermelho']}}</u></font></td>
            <td class="text-center"><font color="#ff0000">{{dici[servidor.nome]['laranja']}}</font> | <font color= "#0000ff"><u>{{dici[servidor.nome]['tlaranja']}}</u></font></td>
            <td class="text-center"><font color="#ff0000">{{dici[servidor.nome]['verde']}}</font> | <font color= "#0000ff"><u>{{dici[servidor.nome]['tverde']}}</u></font></td>
            <td class="text-center"><font color="#ff0000">{{dici[servidor.nome]['amarelo']}}</font> | <font color= "#0000ff"><u>{{dici[servidor.nome]['tamarelo']}}</u></font></td>
            <td><a class="btn btn-warning" href="{{ url_for('grafo', nome=servidor.nome)}}" target="_blank">Visualizar</a></td>
            <td><a onclick="imprimir()" class="btn btn-sucess" href="{{ url_for('quantidadeNotas', nome=servidor.nome)}}" target="_blank"><span class="glyphicon glyphicon-print"></span>imprimir</a></td>
        </tr>
{% endfor %}
    </table>
{% else %}
<div class="alert alert-info text-center">
    Não há servidores pesquisados
</div>
{% endif %}
{% endblock %}
